<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>tea-pop sandbox</title>
  </head>
  <body>
  <h1>
    This the tea-pop sandbox.
  </h1>
  <p>
    Choose your flavor :
  </p>
  <div>
    <input id="r-decl" type="radio" name="flavor" value="declarative" checked/>
    <label for="r-decl">Declarative</label>
  </div>
  <div>
    <input id="r-prog" type="radio" name="flavor" value="programmatic" />
    <label for="r-prog">Programmatic</label>
  </div>
  <p>
    And right-click to trigger menu.
  </p>
  <div>
    <input id="cb-scroll" type="checkbox"/>
    <label for="cb-scroll">Add scroll</label>
  </div>

  <div id="scroller"></div>

  <tp-menu id="my-menu" class="my-menu">
    <div class="my-menu-wrapper">
      <tp-menu-item>
        <my-item-content icon="copy">Copy</my-item-content>
      </tp-menu-item>
      <tp-menu-item>
        <my-item-content icon="cut">Cut</my-item-content>
      </tp-menu-item>
      <tp-menu-item>
        <my-item-content icon="paste">Paste</my-item-content>
      </tp-menu-item>
      <my-item-separator></my-item-separator>
      <tp-menu-item>
        <my-item-content sub-menu="true" icon="music">Music</my-item-content>
        <tp-menu id="sub1" slot="subMenu">
          <div class="my-menu-wrapper">
            <tp-menu-item><my-item-content>Sub1</my-item-content></tp-menu-item>
            <tp-menu-item><my-item-content>Sub2</my-item-content></tp-menu-item>
            <tp-menu-item>
              <my-item-content sub-menu="true">Sub3 with sub too</my-item-content>
              <tp-menu id="sub2" slot="subMenu">
                <div class="my-menu-wrapper">
                  <tp-menu-item><my-item-content>Sub Sub1</my-item-content></tp-menu-item>
                  <tp-menu-item><my-item-content>Sub Sub2</my-item-content></tp-menu-item>
                  <tp-menu-item><my-item-content>Sub3 Sub3</my-item-content></tp-menu-item>
                </div>
              </tp-menu>
            </tp-menu-item>
          </div>
        </tp-menu>
      </tp-menu-item>
      <tp-menu-item>
        <my-item-content>We all live</my-item-content>
      </tp-menu-item>
      <tp-menu-item>
        <my-item-content>In a yellow</my-item-content>
      </tp-menu-item>
      <tp-menu-item>
        <my-item-content icon="ml">Submarine</my-item-content>
      </tp-menu-item>
    </div>
  </tp-menu>

  </body>
</html>
