<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Webpack Example</title>
  </head>
  <body>
    <div
      id="programmatic"
      style="
        position: absolute;
        top: 20px;
        width: 2000px;
        height: 400px;
        left: 20px;
        background-color: lightgray;
      "
    >
      Programmatic
    </div>
    <div
      id="declarative"
      style="
        position: absolute;
        top: 440px;
        width: 600px;
        height: 2000px;
        left: 20px;
        background-color: lightgray;
      "
    >
      Declarative
    </div>
    <tp-menu id="my-menu" class="my-menu">
      <tp-menu-item>
        <my-item-content action="copy"></my-item-content>
      </tp-menu-item>
      <tp-menu-item>
        <my-item-content action="cut"></my-item-content>
      </tp-menu-item>
      <tp-menu-item>
        <my-item-content action="paste"></my-item-content>
      </tp-menu-item>

      <tp-menu-item>Yalla</tp-menu-item>
      <tp-menu-item>
        With sub
        <tp-menu id="sub1" slot="subMenu">
          <tp-menu-item>Sub1</tp-menu-item>
          <tp-menu-item>Sub2</tp-menu-item>
          <tp-menu-item>
            Sub3 with sub too
            <tp-menu id="sub2" slot="subMenu">
              <tp-menu-item>Sub Sub1</tp-menu-item>
              <tp-menu-item>Sub Sub2</tp-menu-item>
              <tp-menu-item>Sub3 Sub3</tp-menu-item>
            </tp-menu>
          </tp-menu-item>
        </tp-menu>
      </tp-menu-item>
      <hr/>
      <tp-menu-item>Yolo</tp-menu-item>
    </tp-menu>
    <template id="my-item-template">
      <div style="display: flex; flex-direction: row">
        <div class="my-icon">
          <slot name="myIcon">icon</slot>
        </div>
        <div class="my-label">
          <slot name="myLabel">label</slot>
        </div>
      </div>
    </template>
  </body>
</html>
