@import '@carbon/type/scss/reset';

@include reset();

#scroller {
    width: 3000px;
    height: 3000px;
    background-color: gray;
    display: none;
}

.tp-menu {
    border: 1px solid lightgray;
    //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.my-item:hover {
    background-color: lightblue;
    cursor: pointer;
}