version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.1.1

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:erbium

jobs:
  build:
    <<: *defaults

    steps:
      - checkout
      - run: ./build.sh
      - persist_to_workspace:
          root: ~/repo
          paths: .

  webtests:
    working_directory: ~/repo
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    environment:
      DISPLAY: :99

    steps:
      - run: sudo Xvfb :99 -screen 0 1920x1200x24 > /dev/null 2>&1 &
      - attach_workspace:
          at: ~/repo
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          command: |
            google-chrome --version
            chromedriver --version
            ps -efa | grep Xvfb
          name: Check install
      - run: cd webtests && export DISPLAY=:99 && mvn clean install -Dwebdriver.chrome.driver=/usr/local/bin/chromedriver
      - store_artifacts:
          path: ~/repo/webtests/target/surefire-reports
      - store_artifacts:
          path: ~/repo/webtests/target/videos

  docs-deploy:
    <<: *defaults

    steps:
      - attach_workspace:
          at: ~/repo
      - run: git config user.email "ci-build@rvkb.com"
      - run: git config user.name "ci-build"
      - run:
          name: Deploy docs to gh-pages branch
          command: cd demo && yarn gh-pages

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run: ./deploy.sh

workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
      - webtests:
          requires:
            - build
      - docs-deploy:
          requires:
            - build
            - webtests
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - build
            - webtests
          filters:
            tags:
              only: /\d+\.\d+\.\d+/
            branches:
              ignore: /.*/

